:root {
	--color-body: #f6d8ab;
    --color-header: #9eac6c;
    --color-main: #F6F6F6;
    --color-dia: #618fc4;
    --color-footer: #22D4FD;
    --color-hover: #637aa8;
	--color-font: #031519;
    --color-botones:#10305a00 ;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-gothicA1: " Gothic A1", sans-serif;
}

*{
    padding: 0;
    margin:0;
    font-weight:100px
}

body{
    box-sizing: border-box;
    background-color: var(--color-body);
	font-family: var(--fuente-gothicA1);
    color: var(--color-font);
    font-size:24px;
    
}

.Encabezado {
    border:1px solid var(--color-font);
    height: 3.5rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    text-align:center;
    font-weight: 600px;
    font-size: 2.5rem;
    font-family: var(  --fuente-gothicA1);
    background-color: var(--color-header);   
    background-image: url("./tools/logo7DOfCode.png") ;
    background-repeat: no-repeat;
}


button{
    border-radius: 8px;
    font-size: 1rem;

}

button.hover{
    background-color: #618fc4;
}


 .diaPrimero{
    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 2rem;
    display:flex;
    height:3rem;
    gap: 3rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-weight:400px;
    font-size:1.7rem;
    font-family: var( --fuente-gothicA1);
    background-color:var ( --color-dia);

 }

 .diaSegundo{
    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 2rem;
    height:3rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-weight:400px;
    font-size:1.7rem;
    font-family: var( --fuente-gothicA1);
    background-color:var ( --color-dia);
 }
 
 .preguntasPersona{
    margin-left: 3.5rem;
    height: 3rem;
    width: 9rem;
 }

 .diaTercero{
    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 2rem;
    height:3rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-weight:400px;
    font-size:1.7rem;
    font-family: var(--fuente-gothicA1);
    background-color:var ( --color-dia);
 }

 .alternativas{
    margin-left: 3.5rem;
    height: 3rem;
    width: 9rem;
 }

 .diaCuatro{
    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 2rem;
    height:3rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-weight:400px;
    font-size:1.7rem;
    font-family: var(--fuente-gothicA1);
    background-color:var ( --color-dia);
 }

 .adivinaNumero{
    margin-left: 3.5rem;
    height: 3rem;
    width: 9rem;
 }

.diaQuinto{

    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom:2rem;
    padding: 2rem;
    height: 10rem;
}


 @media (max-width: 900px) {

    body{

        font-size: 9px;

    }
 }