:root {
	--color-body: #f6d8ab;
    --color-header: #9eac6c;
    --color-main: #F6F6F6;
    --color-dia: #618fc4;
    --color-footer: #22D4FD;
    --color-hover: #637aa8;
	--color-font: #031519;
    --color-botones:#10305a00 ;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-gothicA1: " Gothic A1", sans-serif;
}

*{
    padding: 0;
    margin:0;

body{
    box-sizing: border-box;
    background-color: var(--color-body);
	font-family: var(--fuente-gothicA1);
    color: var(--color-font);
}

}
h1{
    font-size: 2.5rem;
}

.Encabezado {
    height: 3rem;
    width: 64rem;
    border:1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 10rem;
    margin-top: 2rem;
    text-align:center;
    font-weight: 400px;
    font-size: 2.5rem;
    font-family: var(  --fuente-gothicA1);
    background-color: var(--color-header);   
    background-image: url("./tools/logo7DOfCode.png") ;
    background-position-y: center;
    background-repeat: no-repeat;
}


section{
    display:flex;
    gap:0rem;
    height: 3.5rem;
    width: 64rem;
    border: 1px solid var(--color-font);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0.2rem;
    padding-top:0.4em;
}

.diaFuncion{

    width:22rem;
    font-weight: 400px;
    font-size: 1rem;
    font-family: var( --fuente-gothicA1);
    background-color:var ( --color-dia);
    margin-left:1rem;
}
 
.boton:hover{
    background-color:  #7eb6eb;
}
 
 .boton{
    border-radius: 8px;
    font-size: 0.8rem;
    margin-left:5rem;
    margin-top: 0rem;
    height:2rem;
    width: 8rem;
 }

.opcion{
    display:flex;
    gap:1rem;
    width:50rem;
    height:3rem;
}



 @media (max-width: 900px) {

    body{

    font:1rem;
    width:20rem;

    }
 }